@{
	ViewBag.Title = "Blog list";
	Layout = "_Layout";
}
<head>
	<link href="@Url.Content("~/Content/StyleBlog.css")" rel="stylesheet" type="text/css" />
    <style>
        .list_li{
	    position: absolute;
	    background-color: #21F3D7 ;
	    width: 80px;
        height: 100px;
        top: 0;
        margin-left: 513px;
		}
    </style>
</head>
<div class="Right_stat">
    @{
		await Html.RenderPartialAsync("Fund");
	}

	@if (User.IsInRole("Admin") || User.IsInRole("User"))
	{
		await Html.RenderPartialAsync("BlogAdd");
	}
	@foreach (var item in ViewBag.BlogOut)
	{
		@if( ViewBag.BlogOut != null)
		{
		<div class="Item_news">
		<div class="Div_image_news_left">
			<img class="Image_news_left" src=@item.Url_image>
		</div>
		<div class="Content_news_fight">
			@item.Categori
			@if (User.IsInRole("Admin"))
			{
				<form class="Delite_Item_news" asp-controller="Blog" asp-action="Delete" method="post" asp-route-id="@item.Id">
					<input type="submit" value="Удалить"/>
				</form>
			}
		</div>
		<div class="Content_news_fight"><p class="Text_input_blog">@item.Text_Content</p></div>
		<div class="Blok_bottom_news">@item.Time</div>
		</div>
		}
		else{
			<h1>Записи отсутствуют</h1>
		}
	}
	<script src="~/Script/Add_blog_script.js"/>
</div>